<div *ngIf="sections$ | async as sections">
  <ng-container
    *ngFor="let section of sections"
    [ngTemplateOutlet]="gridlines"
    [ngTemplateOutletContext]="{ $implicit: grids$[section] | async }">
  </ng-container>
</div>

<ng-template #gridlines let-grid>
  <div *ngIf="allFigures$ | async as figures" class="grid-lines extended">
    <div class="grid-item tophead">{{ grid.title }}</div>

    <div class="grid-item left">
      <div>{{ grid.subtitle }}</div>
      <div *ngFor="let name of grid.names">{{ name.label }}</div>
    </div>

    <div [attr.name]="ScrollDivClass + '-' + grid.title" [ngClass]="[ScrollDivClass]" cdkScrollable>
      <div class="full-grid" [ngStyle]=" { 'grid-template-columns': grid.gridTemplate } ">
        <div *ngFor="let year of grid.years" class="row-cell-header">
          <span>{{ year.label }}</span>
        </div>
        <ng-container *ngFor="let n of grid.names">
          <ng-container *ngFor="let y of grid.years">
            <div class="row-cell" app-decimal-input
                [(decimalValue)]="figures[n.key + '/' + y.year]" 
                (decimalValueChange)="onChangedFigure(n.key + '/' + y.year, $event)" 
                [allowEdit]="n.type === 'name'">
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="grid-item right">
      <div></div>
      <div *ngFor="let name of grid.names">
        <span *ngIf="name.type === 'name'" (click)="toggleExtended(grid.title, name)">{{ name.collapsed ? '+' : '-' }}</span>
      </div>
    </div>
  </div>
</ng-template>
